/* The header and source of data are removed from the visible display as they are duplicated within the image, but are able to be read by screen readers. If CSS is turned off they appear in the correct location within the document to make sense of the content. */
h1, cite
{
    position: absolute;
	top: -30em;
}

img
{
    max-height: 100vh;  /* we want the graphic to be completely visible in the full height of the display */
    max-width: 90vw;    /* we also want the graphic to be completely visible in the width of the display with out scrolling - NOTE: the img should also have a width attribute set to 600 pixels to prevent it appearing full size if the page is rendered without CSS */
    width: auto;
    display: block;
    margin: auto;
}

figcaption
{
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    line-height: 1.75em;
    background-color: #eee;
    box-shadow: 0 0 9px #ccc;
}
