h1
{
    margin-bottom: 0.1em;   /* to make the heading closer to the citation text */
}

h1, cite
{
    margin-left: 2rem;
}

cite
{
    font-size: 0.75em;
}

img
{
    max-height: 100vh;  /* we want the graphic to be completely visible in the full height of the display */
    max-width: 90vw;    /* we also want the graphic to be completely visible in the width of the display with out scrolling - NOTE: the img should also have a width attribute set to 600 pixels to prevent it appearing full size if the page is rendered without CSS */
    width: auto;
    display: block;
    margin: auto;
}

figcaption
{
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    line-height: 1.75em;
    background-color: #ddd;
    box-shadow: 0 0 9px #ccc;
}
