/*
    Base Trafford Data Lab styles to provide the basic styling.
*/

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}

/* HTML5 fallback styles for older browsers */
main, section, header, footer, nav, figure, figcaption, time
{
    display: block;
    box-sizing: border-box;
}
/* ---------------------------------------- */

a, .themeLink
{
    color: #046dc3;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* For areas of block colour such as div "card" layouts with no images, info panels, banners etc. */
.themeBlockDark
{
    background-color: #5d77a3;
    color: #000;
}

.themeBlockDark a, a .themeBlockDark    /* Links within a .themeBlockDark area need to be white for contrast. The "mirror" declaration here ensures that any .themeBlockDark content surrounded by a link is also rendered white */
{
    color: #fff;
}

.themeBlockLight
{
    background-color: #f5f9ff;
}

h1, h2, h3, h4, h5, h6, header
{
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

img
{
    border: 0;
}

hr
{
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #f0f0f0, #ccc, #f0f0f0);
}

.hideContent, .filterTags
{
    display: none;
}

/* Used for reference text or clarification notes mostly */
.smallText
{
    font-size: 0.8em;
}

/*
    .labButton is our style for HTML buttons.
    .labBorder is for any boxed content e.g. input boxes, div 'cards' etc. It puts a thin border around the content which becomes a halo on-hover.
    The two styles are created together below so that .labButton can be used on its own without having to specify .labBorder as well.
*/
.labButton
{
    font-size: 0.8em;
    background-color: #707070;
    color: #fff;
    padding: 3px 5px 3px 5px;
    text-align: center;
    display: inline-block;
}

.labButton, .labBorder
{
    border: 1px solid #ccc;
    border-radius: 3px;
}

.labButton:hover
{
    cursor: pointer;
    text-decoration: none;
}

.labButton:hover, .labBorder:hover
{
    border: 1px solid #5d77a3;
    box-shadow: 0 0 5px #5d77a3;
}
