/* ### Base Trafford Data Lab styles ### */
html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}

a
{
    color: #fc6721;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .header
{
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.noFloat /* renamed from resetDisplay */
{
    clear: both;
}

.hideContent
{
    display: none;
}

.download
{
    font-size: 0.8em;
}

.labButton
{
    font-size: 0.8em;
    background-color: #757575;
    color: #fff;
    padding: 3px 5px 3px 5px;
    margin: 0 10px 7px 0;
    border-radius: 3px;
    display: inline-block;
}

.labButton:hover
{
    cursor: pointer;
    background-color: #fc6721;
    text-decoration: none;
}
