/* ### Trafford Data Lab website styles (extending the base styles) ### */

.container
{
    overflow: auto;
    position: relative;     /* Required for footer to be positioned always at the bottom of the page */
    min-height: 100%;       /* Required for footer to be positioned always at the bottom of the page */
}

/* NOTE: all property sizes for elements within the header are expressed in px not em as we don't want the header to increase in size. This is because it might become too big on a small phone screen and prevent the user seeing the page content. */
header
{
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px #f0f0f0;
    z-index: 2;
}

.traffordDataLabLogo
{
    margin: 9px 12px 0 12px;
    padding: 0;
}

/* Contains the accessibility skip links - these are positioned off screen not hidden, so that they can be read out as well as focussed using keyboard */
#a11yNav
{
    position: absolute;
	top: -30em;
	z-index: 333;
}

#a11yNav a
{
    position: absolute;
    left: 0;
    width: 20em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 0.75em 0;
    border-bottom-right-radius: 2.25em;
}

#a11yNav a:focus, #a11yNav a:hover
{
    top: 29em;
}

/* Contains the menu items within the <nav>igation section */
.navbar, #a11yNav
{
    list-style-type: none;  /* remove the list-item bullets */
}

.navbar
{
    float: right;
    margin: 15px 0 15px 0;
}

.navbar li
{
    float: left;        /* prevent the list items appearing underneath each other */
    font-size: 16px;
}

.navbar li a
{
    border-bottom: 1px solid white;     /* required so that we can simulate a link underline in the a:hover without the header wobbling by 1px */
    padding: 0 11px;
    margin: 0;
    color: #707070;                     /* To prevent the text having the link colour  */
    text-decoration: none;
}

.navbar li a:hover
{
    border-bottom: 1px solid #046dc3;
}

main
{
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0 9% 5em 9%;     /* 5em padding-bottom Required for footer to be positioned always at the bottom of the page (This is the height of the footer) */
}

main p
{
    line-height: 1.8em;
}

main li
{
    line-height: 2em;
}

section
{
    margin-top: 2em;    /* usually pages have a couple of sections, this is to provide a bit of space between them */
}

footer
{
    width: 100%;
    height: 5em;               /* Required for footer to be positioned always at the bottom of the page (matched to the height of the Trafford logo) */
    margin: 0;
    padding: 0;
    background-color:#f5f9ff;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.leftFooter
{
    display: inline-block;
    white-space: nowrap;
    padding: 6px 0 0 12px;
}

.linkMedia
{
    font-size: 2em;
    color: #212121;         /* As these icons are links this is required otherwise they would be the link colour */
    margin: 0 0.6em 0 0;    /* Using margin not padding so that the "space" is not included in the link "hit" area. Using padding the links are too close together and it's easy to accidentally hit the wrong one on touch devices */
}

.linkMedia:hover
{
    color: #046dc3;
}

.logoTrafford
{
    height: 5em;
    background-color: #fff;
    float: right;
}

/* thumbnail images */
.thumbnail
{
    float: left;
    margin-right: 1em;
    box-shadow: 3px 3px 5px #f0f0f0;
}

/*
    Areas of content presented in a box/card-type format to stand out.
    Cards are for mutiple items arranged in groups of columns and rows such as items on the home, data and charticles pages etc.
    The individual pages can specialise these styles accordingly, e.g. for the size of the cards.
*/
.card
{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.cardHead
{
    display: block;

    /* NOTE: the intention is to use an appropriate heading level (but never h1) as the titles for the cards, that way they give semantic sense to the list of cards.
       The styles here just ensure that the text is rendered consistently no matter which heading level is used. */
    margin: 0;
    font-size: 1em;
}

.cardBody
{
    font-size: 0.8em;
    margin: 0.1em 0 0 0;
    color: #212121;     /* Required in case the card is surrounded by a link - otherwise the text is the link colour */
}

a.card:hover
{
    text-decoration: none;  /* prevents the text in the card body being underlined - we only want the text in the card head underlined on hover, see a.card:hover .cardHead */
}

a.card:hover .cardHead
{
    text-decoration: underline; /* Ensures the text in the card header is underlined on-hover */
}

.cardContainer
{
    /*
        Container to display the cards as a grid - see https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids
        In IE and browsers that don't support 'display: grid' these have no effect.
    */

    /* latest spec definitions */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));   /* Override this if necessary in page for the type of layout required */
    gap: 2em;

    /* legacy spec definitions for extra safety */
    grid-gap: 2em;
}

.itemContainer div
{
    /* These appear similar to cards but are 100% wide and remain in a single column. They don't use the grid system */
    padding: 0.3em 0.5em 0.5em 0.5em;
    margin-bottom: 2em;
    overflow: auto;
}

.itemContainer div:last-of-type
{
    margin-bottom: 0;   /* remove the margin applied above from the last item on the page */
}

/* content block usually paired with themeBlockLight */
.contentBlock
{
    padding: 1em;
    border-left: 4px solid #757575;
}

/* changes due to screen width */
@media (min-width:1300px)
{
    /* This prevents the content going too wide once the screen goes beyond a maximum width. */
    main
    {
        width: 1070px;
        padding: 0 0 5em 0;
    }
}

@media (max-width:620px)
{
    .navbar
    {
        float: none;
        padding: 0 0 20px 0;
    }

    main
    {
        margin-top: 120px;
    }
}
