html, body
{
    padding: 0;
    margin: 0;
    height: 100%;           /* Required for footer to be positioned always at the bottom of the page */
}

a
{
    color: #fc6721;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .header
{
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.container
{
    overflow: auto;
    position: relative;     /* Required for footer to be positioned always at the bottom of the page */
    min-height: 100%;       /* Required for footer to be positioned always at the bottom of the page */
}

/* NOTE: all sizes are expressed within the header elements are in px not em as we don't want the header to increase in size. This is because it might become too big on a small phone screen and prevent the user seeing the page content. */
.header
{
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #757575;
}

.navbar
{
    float: right;
    margin: 15px 0 0 0;
}

.menuItem
{
    display: block;
    float: left;
    font-size: 16px;
    margin-bottom: 15px;
}

.menuItem a
{
    border-bottom: 1px solid white;        /* required so that we can simulate a link underline in the a:hover without the header wobbling by 1px */
    padding: 0 12px;
    margin: 0;
    color: #757575;
    text-decoration: none;
}

.menuItem a:hover
{
    border-bottom: 1px solid #fc6721;
}

.main, .footer
{
    font-family: 'Open Sans', sans-serif;
}

.main
{
    color: #212121;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0px 12px 5em 12px;     /* 5em padding-bottom Required for footer to be positioned always at the bottom of the page (This is the height of the footer) */
    margin-right: 8px;
}

.main p
{
    line-height: 1.8em;
}

.main li
{
    line-height: 2em;
}

.footer
{
    color: #212121;
    width: 100%;
    height: 5em;               /* Required for footer to be positioned always at the bottom of the page (matched to the height of the Trafford logo) */
    margin: 0;
    padding: 0;
    background-color:#f0f0f0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.leftFooter
{
    display: inline-block;
    white-space: nowrap;
}

.rightFooter
{
    background-color: white;
    height: 100%;
    display: inline-block;
    float: right;
}

/* remove the list-item bullet from the top level and all sub-level list items */
.noBulletPoints, .noBulletPoints * *
{
    list-style-type: none;
}

.resetDisplay
{
    clear: both;
}

.traffordDataLabLogo
{
    margin: 9px 12px 0 12px;
    padding: 0;
}

.logoTrafford
{
    height: 5em;
}

.logoMedia
{
    font-size: 2em;
    padding: 0px 0px 0px 12px;
    margin: 0;
}

.linkMedia
{
    color: #212121;
    padding: 0px 10px 0px 0px;
}

.license
{
    font-size: 0.7em;
    padding: 10px 0px 0px 12px;
}

@media (max-width:620px)
{
    .navbar
    {
        float: none;
        padding: 0 0 20px 0;
    }
    .main
    {
        margin-top: 120px;
    }
}
@media (min-width:1300px)
{
    .main
    {
        width: 1240px;           /* Amended this from 800px so that the content width stays the same once the size expands beyond 1300px */
    }
}